{% extends 'base.html'%}
{% load static %}
{% block title %} Future Automative in Nigeria {%endblock%}
{%block meta_description%} This pages showcases future of automobiles in Nigeria - electric cars.  {% endblock%}
{% block content %}

<section class="post-wrapper-top">
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Blog Post </li>
      </ul>
      <h2>FUTURE AUTOMOBILES </h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <!-- search -->
      <div class="search-bar">
        <form action="" method="get">
          <fieldset>
            <input type="image" src="{% static 'website/images/pixel.gif'%}" class="searchsubmit" alt="" />
            <input type="text" class="search_text showtextback" name="s" id="s" value="Search..." />
          </fieldset>
        </form>
      </div>
      <!-- / end div .search-bar -->
    </div>
  </div>
</section>
<!-- end post-wrapper-top -->

<section class="section1">
  <div class="container clearfix">
    <div class="content col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
        <div class="card mb-4">
          <div class="card-body">
            {% for post in post_list %}
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text text-muted h6">{{ post.author }}  |  {{ post.created_on}} </p>
            <p class="card-text">{{post.content|slice:":200" }}</p>
            <a href="{% url 'website:blog_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            {% empty %}
            <p> No post uploaded yet.. </p>
          </div>
            {% endfor %}

          <div class="clearfix"></div>
          <div class="text-center">
          <div class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; first</a>
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                  {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- end section -->

  <script src="{% static 'website/lib/jigowatt/jigowatt.js'%}"></script>
  <script src="{% static 'website/lib/easypiechart/easypiechart.min.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'website/js/main.js'%}"></script>

{% endblock %}
